._5f0v{outline:none}._3oxt{outline:1px dotted #3b5998;outline-color:invert}.webkit ._3oxt{outline:5px auto #5b9dd9}.win.webkit ._3oxt{outline-color:#e59700}

._4qba{font-style:inherit}._4qbb,._4qbc,._4qbd{background:none;font-style:inherit;padding:0;width:auto}._4qbd{border-bottom:1px solid #f99}._4qbb,._4qbc{border-bottom:1px solid #999}._4qbb:hover,._4qbc:hover,._4qbd:hover{background-color:#fcc;border-top:1px solid #ccc;cursor:help}/*FB_PKG_DELIM*/

#bootloader_B1jX0fJ{height:42px;}.bootloader_B1jX0fJ{display:block!important;}